<html>
 <head>
  <title>Риелтор типа</title>
   <style type="text/css">
    body {
     height: 570px;
     background-color: #9ACD32}
    header {
     text-align: center;
     width: 100%; 
     height: 80px;
     background-color: #9ACD32}
    .top-menu {
     width: 100%;
     height: 80px;
     float: center;}
    .top-menu ul li {
     border: 1px solid black;
     list-style: none;
     float: left;
     text-align: center;}
    .top-menu ul li a {
     display: block;
     width: 355px;
     text-decoration: none;
     font-family: serif;
     font-size: 27px;
     color: black;
     height: 55px;
     padding-top: 20px;
     cursor: pointer;}
    .top-menu ul li a:hover {
     background: #5fb340;}
    h2 {
     margin: 0px;
     font-size: 40px;
     padding-left: 40px;}
    p {
     padding-left: 40px;
     font-size: 20px}
    img {
     float: left;}
    footer {
     color: black;
     font-size: 15px;
     float: left;
     position: fixed;
     bottom: 10px;
     left: 10px;}
  </style>
</head>
<body>
<header>
<!--Главная страница-->
<div class="top-menu">
         <ul>
             <li><a href="#">Поиск</a></li>
             <li><a href="#">Разместить объявление</a></li>
             <li><a href="C:\Users\ккккк\OneDrive\Рабочий стол\Контакты сайт.html">Контакты</a></li>
             <li><a href="C:\Users\ккккк\OneDrive\Рабочий стол\ввести данные.html">Ввести данные</a></li>
         </ul>  
       </div> 
</header>
<!--Данные риелтора-->
<h2> Контактные данные: </h2>
<p> Суворов Игорь Сергеевич <br>
    Тел.: 8-912-344-55-23 <br>
    e-mail: suvIgor_1980@mail.ru </p>
<p> Наш адрес: <br>
    г.Ижевск, ул.Карла Маркса, д.22 </p>
<img src="https://w7.pngwing.com/pngs/253/243/png-transparent-dayton-family-apartment-house-baptists-peter-hopkins-realtor-service-apartment-formal-wear.png" width="40%" 
  height="60%" alt="фото">
</body>
<footer>
    © 2021, All rights reversed
</footer>
</html>